:root {
  --primary-color: #A1612EFF;
  --primary-color-80: #A1612ECC;
  --primary-color-60: #A1612E99;
  --secondary-color: #C1B644FF;
  --secondary-color-80: #C1B644CC;
  --secondary-color-60: #C1B64499;
  --success-color: #008000FF;
  --danger-color: #FF0000FF;
  --warning-color: #FFFF00FF;
  --light-text: #E5E7EBFF;
}
